.delete{
  background:#DC2626;
  color:white;
  padding:8px 12px;
  border:none;
  border-radius:8px;
}

.delete:hover{
  opacity:.9;
}

table{
  width:100%;
  border-collapse:collapse;
}

thead{
  background:#F3F4F6;
}

th,td{
  padding:12px;
  border-bottom:1px solid #E5E7EB;
}

@media(max-width:768px){
  table{
    display:block;
    overflow-x:auto;
    white-space:nowrap;
  }
}
